<% include _header %>


<h1>Welcome to Learn About Me!</h1>
<br><br>

<h2>Dashboard</h2>
  <a class="btn btn-primary" href="/users">Users list</a>
  <a class="btn btn-primary" href="/movies/list">List of Movies</a>
  <a class="btn btn-primary" href="/movies/add">Add a Movie</a>


<br><br>
<p>Need to add access to admin and user accounts</p>
<p>check the POST routes</p>



<% include _footer %>