<% include _header %>


<h1>Welcome!</h1>
<br><br>

<h2>Dashboard</h2>

	<% if (currentUser && currentUser.isAdmin ) { %>
		 <a class="btn btn-primary" href="/users">Users list</a>
	<% } %>


 
  <a class="btn btn-primary" href="/movies/list">List of Movies</a>
  <a class="btn btn-primary" href="/movies/add">Add a Movie</a>


<br><br>

<p>check the POST routes</p>



<% include _footer %>