<% include _header %>


<% if (currentUser) { %>

	<% if ((currentUser.id === user.id)) { %>
		<a href="/edit" class="btn pull-right">Edit your profile</a>
	<% } %>

	<% if (currentUser.isAdmin) { %>
		<a href="/users/delete/<%= user.username %>" class="btn">Delete Account</a>
	<% } %>

<% } %>


<h1><%= user.name() %></h1>
<h2>Joined on <%= user.createdAt %></h2>
<% if (user.bio) { %>
<p><%= user.bio %></p>
<% } %>


<% include _footer %>