<% include _header %>


<h1>Sign up</h1>
<!-  class="form-control" -->


<form action="/signup" method="post" >
	<input name="username" type="text" placeholder="Username" class="form-control" required autofocus>
	<input name="password" type="password" placeholder="Password" class="form-control" required>
	<input type="submit" value="Sign up" class="btn btn-primary btn-block">
</form>


<% include _footer %>